<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-pages">
        <div class="page" id="index-logo">
            <a th:href="@{/}" class="navbar-brand">
                <strong id="index-page">SMART ALARM</strong>
            </a>
        </div>
        <div class="page">
            <a class="navbar-brand" th:href="@{/updateProfile}">
                <img th:if="${encodedImage == null}" alt="image" class="img-responsive"
                     src="https://bootdey.com/img/Content/avatar/avatar1.png">
                <span class="selected-main-page">PROFILE</span>
            </a>
        </div>
        <div class="page">
            <a class="navbar-brand" th:href="@{/logout}">
                LOGOUT
            </a>
        </div>
    </div>
</div>